@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: cursive, Roboto Mono,-apple-system, BlinkMacSystemFont, Segoe UI,  Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --nav-load-time: 300ms;
  --nav-items-load-time: 500ms;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.home {
  
}

.space-between {
  justify-content: space-between;
}

.nav {
  animation: nav-load var(--nav-load-time) ease-out;
}

.nav-left {
  animation: nav-left-load var(--nav-items-load-time) ease-in var(--nav-load-time) forwards;
  transform: translateX(-120%)
}

.nav-right {
  animation: nav-right-load var(--nav-items-load-time) ease-in var(--nav-load-time) forwards;
  transform: translateX(120%)
}


.introduction {
  animation: intro-load 400ms calc(var(--nav-items-load-time) + var(--nav-load-time))  ease-in forwards ;
  opacity: 0%;
}

.mediaIcon:hover {
  scale: 120%
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes nav-left-load {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes nav-right-load {
  0% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes intro-load {
  0% {
    transform: scaleX(.1);
    transform: scaleY(.1);
  }
  100% {
    transform: scaleX(1), scaleY(1);
    opacity: 1;
  }
}